export
htdocs
httpdocs
import
log
release

provisioning-script_vvv.sublime-*
!provisioning-script_vvv.sublime-project

wp-cli.yml

provision/*
!provision/vvv-init.sh
!provision/vvv-nginx.conf.tmpl
!provision/custom-provision.conf.default